<div class="container">
  <div class="page-header">
 <h1><%= @store.store_name %></h1>
 </div>
 <div class="linkbar">
 <h3><%= @store.store_name %> carries the following brands:</h3>
</div>

<ul>
  <% @store.brands.each do |brand| %>
  <li><a href="/brands/<%= brand.id %>"><%= brand.brand_name %></a></li>
  <% end %>
</ul>

<h3>Add Brands</h3>
<form action="/stores/<%= @store.id %>/brands" method="post" form class="form-inline">
  <input name="_method" type="hidden" value="patch">
  <select id="brand_id" name="brand_id" class="form-control">
    <ul>
      <% @brands.each do |brand| %>
      <li><option value="<%= brand.id %>"><%= brand.brand_name %></option></li>
      <% end %>
    </ul>
  </select>
  <button type="submit" class="btn btn-default">Add Brand</button>
</form>

<br>
<form class="form-inline" form action="/stores/<%= @store.id() %>/edit" method="post">
  <input type="hidden" value="patch" name="_method">
     <label>Update Store Name:</label>
  <input type="text" class="form-control" id="store_name" name="store_name">
  <button type="submit" class="btn btn-default">Update Shop</button>
</form>

<br>

<form class="class-inline" form action="/stores/<%= @store.id() %>/delete" method="post">
  <input type="hidden" name="_method" value="delete">
  <button type="submit" class="btn btn-danger">Delete this Store</button>
</form>
<br>
<a href="/">HOME</a>
</div>
